.hero-title { /* Title font size */
  font-size: 1.5rem;
}

.hero-container {
  position: relative; /* Enables absolute positioning of child elements */
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%; /* Full width */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Overlay covers the left half of the hero */
  height: 100%;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: left; /* Align content to the left */
}

.overlay > div {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
  color: white; /* White text color */
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  top: 50px;
  left: 20px;
}

.overlay h1,
.overlay p {
  background: transparent; /* No background color */
  margin: 0; /* Remove default margin */
}

.overlay-button {
  background-color: #2db33bcc; /* Bright color for visibility */
  border: none;
  padding: 15px 25px;
  font-size: 1.2rem;
  color: white;
  border-radius: 8px;
  align-self: flex-start; /* Align button to the bottom left */
  position: absolute;
  flex-direction: column;
  bottom: -100px;
}

/* Hover effect */
.overlay-button:hover {
  background-color: #00ff1ecc; /* Color on mouse hover - can be changed */
}
