.header 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #bb1111; 
  color: #faf9f9;
}

.header-left 
{
  flex: 1;
}

.header-logo 
{
  width: 70px;
  height: 50px;
}

.header-center 
{
  flex: 1;
  text-align: center;
}

.header-title 
{
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f7f3f3;
}

.header-right 
{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.header-contact 
{
  color: #fee2e2;
  text-decoration: none;
  font-weight: 500;
}

.header-contact:hover 
{
  text-decoration: underline;
}

.header-cart 
{
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fee2e2;
}

.header-cart:hover 
{
  color: #f87171;
}
