.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c90202;
  color: white;
  position: relative;
}

.header-logo {
  height: 40px;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: arial;      
  font-size: 18px;        
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 24px;        
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-search {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white; 
  color: black;          
  font-size: 16px;
}

.cart-container {
  position: relative;
}

.header-cart {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  border-radius: 4px;
  min-width: 150px;
}

/* Responsive hamburger menu */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    background: #121010;
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 10px 0;
    z-index: 9;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-center {
    display: none;
  }
}
