.product-card {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 24px;
  margin: 8px;
}

.product-card .image {
  align-self: stretch;
  background-color: #656565;
  border-radius: 16px;
  height: 176px;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.product-card .upper-content {
  align-items: flex-start;
  align-self: stretch;
  padding: 4px;
  position: relative;
  width: 100%;
}

.product-card .title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  margin-bottom: 4px;
  position: relative;
  width: fit-content;
}

.product-card .description {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.product-card .bottom-content {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 4px;
  position: relative;
  width: 100%;
}

.product-card .price {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.product-card .button {
  background-color: #f00000;
  border-radius: 24px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

/* .product-card .product-card-button-icon {
  height: 19px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 18px;
} */
